<template>
  <require from="scripts/value-converters/forvo-property-filter.js"></require>
  <h1>${heading}</h1>
  <div>
    <a href="http://forvo.com/" title="Pronunciations by Forvo">
      <img src="http://api.forvo.com/byforvoblue.gif" width="120" height="40" alt="Pronunciations by Forvo" style="border:0" />
    </a>
  </div>
  <h2 if.bind="!isForvoEnabled ? true : false">
    Configuration messages...
  </h2> 
    <div if.bind="!isForvoEnabled" style="color:red;">
      The Forvo API key isn't configured correctly, so we can't give you audio links right now... :( 
      Please see the <a href="https://gitlab.com/charlesc/voz-da-gente">GitLab page</a> for steps on how to 
      set this up. 
    </div>
  <h2>Phrase entry</h2>
  <div>
    <button click.trigger="getSamplePhrase()" >Get sample phrase</button>
  </div>
  <form submit.trigger="getForvos()">
    <div>
      <select value.bind="selectedLang">
        <option value="">Select the phrase's language</option>  
        <option repeat.for="lang of langList" value="${lang.langCode}">${lang.langName}</option>
      </select>
    </div>
    <div>
      <textarea spellcheck="false" rows="5" columns="40" name="text" value.bind="phrase"></textarea>
    <div>
    <div>
      <select value.bind="isFetchRecordingsEnabled">
        <option value="true" selected>Parse phrase and get voice recordings</option>
        <option value="false">Parse phrase without getting voice recordings</option>
      </select>
    </div>
    <div><button type="submit" disabled.bind="!isForvoEnabled">Get Forvos</button></div>
  </form>
  <div id="phrase"><h2>Original phrase</h2> ${userPhrase}</div>
  <div>
    <h2>Words found in phrase</h2>
    <template repeat.for="forvoObj of listOfForvoObjs">
      <a href="#${forvoObj.word}">${forvoObj.word}</a>,
    </template>
  </div>
  <div>
    <h2>Filter options</h2>
    <select id="filterGender" ref="filterGender">  
      <option value="">All genders</option>
      <option value="m">Male</option>
      <option value="f">Female</option>
    </select>
    <select id="filterCountry" ref="filterCountry">
      <option value="" selected>All countries</option>
      <option repeat.for="country of filterableCountries" value="${country}">${country}</option>
    </select>
  </div>
  <h2>Words and voice clips</h2>
  <div repeat.for="forvoObj of listOfForvoObjs">
    <h3 id="${forvoObj.word}">
      ${forvoObj.word} 
      <button click.trigger="getPropsForWord(forvoObj)">Get voice clips</button>
      (<a href="#phrase">Back to phrase</a>)
    </h3>    
      
      <div repeat.for="props of forvoObj.props |  forvoPropertyFilter:'gender':filterGender.value | forvoPropertyFilter:'country':filterCountry.value">
      <!-- preload="none" so that Forvo audio/api requests are only made for 
           the audio clips that are played. 
           TODO preload attr honored by Firefox, Chrome but not MS Edge 
                - is there a better solution? -->
      <audio controls preload="none" src="${props.audioLink}" label="${forvoObj.word}">Browser doesn't support the audio tag...</audio>
      ${props.gender === 'm' ? 'male' : 'female'} in ${props.country}
    </div>
  </div>
</template>
